@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  min-height: 100vh;
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.qr-code-container {
  max-width: 320px;
  border-radius: 1.25rem;
  background-color: hsl(0, 0%, 100%);
  padding: 1rem;
  margin: 1.25rem;
}

.qr-code-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  border-radius: 30px;
}

.qr-code-img {
  width: 100%;
  border-radius: 0.75rem;
}

.qr-code-title {
  padding: 10px;
  margin-top: 10px;
  font-size: 1.5rem;
  text-align: center;
  width: 18ch;
  color: hsl(218, 44%, 22%);
}

.qr-code-text {
  font-size: 1rem;
  color: hsl(220, 15%, 55%);
  text-align: center;
  padding: 10px 10px 30px 10px;
}

@media (max-width: 500px) {

  /* .qr-code-background {
    border-radius: 10px;
  } */

  /* .qr-code-img {
    width: 300px;
    height: 300px;
    border-radius: 1rem;
  } */
/* 
  .qr-code-title {
    margin-top: 0px;
    font-size: 1.5rem;
  } */

  /* .qr-code-text {
    margin-top: 10px;
    padding: 0px;
  } */
}
